.container {
  background-color: var(--primary-color);
  position: relative;
  display: flex;
  align-items: flex-end;
}

.image {
  max-width: 100%;
  object-fit: cover;
  margin: 0 auto;
}

.textContainer {
  position: absolute;
  background-color: var(--white-color);
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  padding: 1.5rem 1rem;
  box-sizing: border-box;
}
