.list {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5%;
}

@media (max-width: 992px) {
  .list {
    margin: 2.5rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 5%;
    justify-content: center;
    row-gap: 3rem;
  }

  .list :nth-child(3) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

@media (max-width: 768px) {
  .list {
    grid-template-columns: 100%;
    row-gap: 2rem;
  }
}
