.container {
  background-color: var(--blue-color);
  color: var(--white-color);
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1rem 1rem;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 1.5rem 1rem;
}

@media (max-width: 992px) {
  .block {
    padding: 1.25rem 0.75rem;
  }
}

@media (max-width: 768px) {
  .block {
    padding: 1rem 0.5rem;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 2rem 0;
  }
}
