.container {
  background-color: var(--blue-color);
  color: var(--white-color);
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 1.5rem 1rem;
}

.textLarge {
  font-size: 3.25rem;
}
