.container {
  display: flex;
  justify-content: space-between;
}

.p {
  width: 20%;
  color: var(--light-gray-color);
  font-size: 1.125rem;
}

.heading {
  width: 25%;
}

@media (min-width: 1400px) {
}

@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}

@media (min-width: 768px) {
}
@media (min-width: 576px) {
}
