.container {
  display: grid;
  grid-template-columns: 60% 30%;
  column-gap: 10%;
  margin-bottom: 3rem;
}

.image {
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1400px) {
}

@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 1.5rem;
  }
}
@media (max-width: 576px) {
}
