@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");

:root {
  --primary-color: #2c3878;
  --secondary-color: #2ecc71;
  --blue-color: #2c3878;
  --light-blue-color: #566093;
  --white-color: #ffff;
  --grayscale-color: #333333;
  --gray-medium-color: #3c3c3c;
  --light-gray-color: #9c9c9c;
  --extra-light-gray-color: #d9d9d9;
  --black-color: #141414;
}

body {
  font-family: "Poppins", sans-serif;
}

html,
body,
p,
ul,
li,
main {
  margin: 0;
  padding: 0;
}

section {
  padding: 3rem 0;
  margin: 3rem 0;
}

button {
  border: none;
  font-size: 0.875rem;
  padding: 0.75em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--grayscale-color);
  font-size: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 4.5rem;
  padding: 0;
  margin: 0;
}

h2 {
  font-weight: 400;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 2.25rem;
  color: var(--grayscale-color);
  font-weight: 600;
}

h4 {
  font-size: 2rem;
  font-weight: 600;
}

input {
  font-family: inherit;
  font-size: 1rem;
}
input::placeholder {
  font-size: 1rem;
  font-family: inherit;
}

label {
  font-size: 1.125rem;
}

.text-gray {
  color: var(--light-gray-color);
  font-size: 1.125rem;
}

.text-gray-dark {
  color: var(--grayscale-color);
}

.container {
  width: 90%;
  margin: 0 auto 3.5rem;
}

.margin-s {
  margin: 1rem 0;
}

.margin-m {
  margin: 2rem 0;
}

.margin-s {
  margin: 1.5rem 0;
}

.text-white {
  color: var(--white-color);
}

.text-size-s {
  font-size: 1.125rem;
}

.text-size-m {
  font-size: 2.25rem;
}

.text-semibold {
  font-weight: 600;
}
@media (min-width: 1400px) {
}

@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}

@media (min-width: 768px) {
}
@media (min-width: 576px) {
}
