.dateCategoryContainer {
  display: flex;
  column-gap: 20%;
}

.overviewContainer {
  display: grid;
  align-items: stretch;
}

.container {
  display: grid;
  grid-template-columns: 47% 47%;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 100%;
    row-gap: 3rem;
  }
}
