.image {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  height: auto;
  /* object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important; */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}

.p {
  /* width: 40%; */
  text-align: center;
  margin-bottom: 2rem;
}

@media (min-width: 1400px) {
}

@media (max-width: 1200px) {
  .p {
    /* width: 50%; */
  }

  .image {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    /* object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important; */
  }
}

@media (max-width: 992px) {
  .p {
    /* width: 60%; */
  }
  .container {
    row-gap: 1.5rem;
  }

  .image {
    height: 45vh;
  }
}

@media (max-width: 768px) {
  .p {
    /* width: 70%; */
  }
  .container {
    row-gap: 1rem;
  }

  .image {
    height: 40vh;
  }
}
@media (max-width: 576px) {
  .p {
    /* width: 80%; */
  }
  .image {
    height: 35vh;
  }
}
