.container {
  display: flex;
  justify-content: space-between;
  padding: 2em 0 0;
}

.navContainer {
  display: flex;
  column-gap: 3em;
}

.mobileNavContainer {
  display: none;
}

@media (min-width: 1400px) {
}

@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .navContainer {
    display: none;
  }

  .container {
    align-items: center;
  }

  .container {
    position: relative;
  }
}
@media (min-width: 576px) {
}
