.navList {
  display: flex;
  list-style: none;
  column-gap: 2rem;
  align-items: center;
  align-content: center;
}

.nav {
  display: flex;
  align-items: center;
}

.li:hover {
  text-decoration: underline;
}

.active {
  font-weight: 800;
}

@media (max-width: 768px) {
  .navList {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.5rem;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 0;
  }

  .li a {
    font-size: 1.75rem;
  }
}
