.itemContainer {
  width: 45%;
  list-style-type: none;
}

@media (min-width: 1400px) {
}

@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  .itemContainer {
    width: 100%;
  }
}

@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
