.container {
  display: grid;
  grid-template-columns: repeat(2, 48.5%);
  justify-content: space-between;
  column-gap: 2rem;
  row-gap: 2rem;
}

.img {
  width: 100%;
  height: 33rem;
  object-fit: cover;
  max-width: 100%;
}

.imgBig {
  grid-column-start: 1;
  grid-column-end: 3;
}

.imgRight {
}

.imgLeft {
}
