.container {
}

.contentContainer {
  display: grid;
  grid-template-columns: 70% 20%;
  column-gap: 10%;
  margin-top: 3rem;

  /* overflow: hidden; */
}

.heading {
  width: 60%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: 55vh;
  max-height: 55vh;
}

.numbersBlockContainer {
  height: 100%;
  height: 55vh;
  max-height: 55vh;
}

@media (min-width: 1400px) {
}

@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  .contentContainer {
    grid-template-columns: 60% 35%;
    column-gap: 5%;
  }
}

@media (max-width: 768px) {
  .contentContainer {
    grid-template-columns: 100%;
  }
}
@media (max-width: 576px) {
}
