.container {
  padding: 0;
  counter-reset: list-counter;
  list-style: none;
  margin: 3rem 0;
}

.itemWrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.title {
  margin: 1.5rem 0;
}

.item:hover {
  cursor: pointer;
}

.item:hover .title {
  color: var(--grayscale-color);
  text-decoration: underline;
}

.item {
  counter-increment: list-counter;
  display: flex;
  justify-content: space-between;
}

.item::before {
  content: counter(list-counter, decimal-leading-zero);
  font-weight: 600;
  width: 10%;
  margin-top: 1.6rem;
}

.description {
  font-size: 1.125rem;
  width: 70%;
  color: var(--grayscale-color);
}

.text-small {
  font-size: 1.5rem;
}

.text-xl {
  font-size: 2rem;
}

@media (min-width: 1400px) {
}

@media (max-width: 1200px) {
  .container {
    margin: 2.5rem 0;
  }

  .title {
    margin: 1.25rem 0;
  }

  .item::before {
    margin-top: 1.3rem;
  }

  .text-xl {
    font-size: 1.75rem;
  }

  .description {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 992px) {
  .container {
    margin: 2.25rem 0;
  }

  .title {
    margin: 1rem 0;
  }

  .text-small {
    font-size: 1.25rem;
  }

  .item::before {
    margin-top: 1.1rem;
  }
  .text-xl {
    font-size: 1.5rem;
  }

  .description {
    font-size: 1.15rem;
    width: 80%;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 1rem 0;
  }

  .title {
    margin: 0.75rem 0;
  }

  .item::before {
    width: 15%;
    margin-top: 0.75rem;
  }

  .item {
    margin: 0.5rem 0;
  }

  .text-small {
    font-size: 1.15rem;
  }

  .text-xl {
    font-size: 1.25rem;
  }
}

@media (max-width: 576px) {
  .item::before {
    width: 15%;
  }
}
